@using Microsoft.AspNetCore.Authorization
@attribute [Route($"{Constants.Route.AdminAccountDetail}/{{AccountId:guid}}")]
@attribute [Authorize(Roles = UserRole.Administrator)]

<h3>AccountDetail</h3>

<div>
    <p>Id: @Account.Id</p>
    <p>Email: @Account.Email</p>
    <p>Email @(Account.EmailConfirmed ? "Confirmed" : "Not Confirmed")</p>
</div>


@inject WebApiHttpClient WebApiHttpClient
@inject IJSRuntime JsRuntime

@code {
    [Parameter] public Guid AccountId { get; set; }

    private AccountDetailDto Account { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await WebApiHttpClient.GetAccountByIdAsync(AccountId);
        if (response.IsSuccessStatusCode)
        {
            Account = await response.Content.ReadFromJsonAsync<AccountDetailDto>() ?? new AccountDetailDto();
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error fetching account details.");
        }
    }

}