@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization
@attribute [Route(Constants.Route.ChangePassword)]
@attribute [Authorize]

<h3>ChangePassword</h3>

<EditForm Model="@this" OnValidSubmit="ChangePasswordAsync">
    <DataAnnotationsValidator/>

    <label for="oldPassword">Old Password</label>
    <InputText id="oldPassword" type="password" @bind-Value="OldPassword"/>
    <ValidationMessage For="@(() => OldPassword)"/>

    <label for="newPassword">New Password</label>
    <InputText id="newPassword" type="password" @bind-Value="NewPassword"/>
    <ValidationMessage For="@(() => NewPassword)"/>
    
    <label for="confirmPassword">Confirm Password</label>
    <InputText id="confirmPassword" type="password" @bind-Value="ConfirmPassword"/>
    <ValidationMessage For="@(() => ConfirmPassword)"/>
    
    <button type="submit">Change Password</button>
</EditForm>


@inject NavigationManager NavigationManager
@inject IAccountManagement AccountManagement
@inject IJSRuntime JSRuntime

@code {

    [Required] public string OldPassword { get; set; } = string.Empty;
    
    [Required] public string NewPassword { get; set; } = string.Empty;

    [Required]
    [Compare("NewPassword", ErrorMessage = "The new password and confirmation password do not match.")]
    public string ConfirmPassword { get; set; } = string.Empty;

    private async Task ChangePasswordAsync()
    {
        var result = await AccountManagement.ChangePasswordAsync(OldPassword, NewPassword);
        if (result.Succeeded)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Password changed successfully.");
            NavigationManager.NavigateTo(Constants.Route.Home);
        }
        else await JSRuntime.InvokeVoidAsync("alert", string.Join("\n", result.Errors?.Select(e => $"{e.Key}: {string.Join(", ", e.Value)}") ?? []));
    }

}