@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization
@attribute [Route(Constants.Route.SetPassword)]
@attribute [Authorize]

<h3>Set Password</h3>

<EditForm Model="@this" OnValidSubmit="SetPasswordAsync">
    <DataAnnotationsValidator />

    <label for="newPassword">New Password</label>
    <InputText id="newPassword" type="password" @bind-Value="NewPassword" />
    <ValidationMessage For="@(() => NewPassword)" />

    <label for="confirmPassword">Confirm Password</label>
    <InputText id="confirmPassword" type="password" @bind-Value="ConfirmPassword" />
    <ValidationMessage For="@(() => ConfirmPassword)" />

    <button type="submit">Set Password</button>
</EditForm>

@inject IAccountManagement AccountManagement
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@code {
    [Required] public string NewPassword { get; set; } = string.Empty;

    [Required]
    [Compare("NewPassword", ErrorMessage = "The new password and confirmation password do not match.")]
    public string ConfirmPassword { get; set; } = string.Empty;

    public async Task SetPasswordAsync()
    {
        var result = await AccountManagement.SetPasswordAsync(NewPassword);
        if (result.Succeeded) NavigationManager.NavigateTo(Constants.Route.Home);
        else await JSRuntime.InvokeVoidAsync("alert", string.Join("\n", result.Errors?.Select(e => $"{e.Key}: {string.Join(", ", e.Value)}") ?? []));
    }

}