@using Microsoft.AspNetCore.Authorization
@using PracticeAspNetCoreIdentity.Client.AdminAccountManagement
@using PracticeAspNetCoreIdentity.Shared.Models.AccountManagement
@attribute [Route($"{Constants.Route.AdminAccountDetail}/{{AccountId:guid}}")]
@attribute [Authorize(Roles = UserRole.Administrator)]

<h3>AccountDetail</h3>

@if (Account == null)
{
    <p><em>Loading...</em></p>
    return;
}
<div>
    <p>Id: @Account.Id</p>
    <p>Email: @Account.Email</p>
    <p>Email @(Account.EmailConfirmed ? "Confirmed" : "Not Confirmed")</p>
</div>


@inject IAdminAccountManagement AdminAccountManagement
@inject IJSRuntime JsRuntime

@code {
    [Parameter] public Guid AccountId { get; set; }

    private AccountDetailDto? Account { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await AdminAccountManagement.GetAccountByIdAsync(AccountId);
        if (result.Succeeded) Account = result.Data!;
        else await JsRuntime.InvokeVoidAsync("alert", string.Join("\n", result.Errors?.Select(e => $"{e.Key}: {string.Join(", ", e.Value)}") ?? []));
    }

}