@attribute [Route(Constants.Route.AllNotes)]

<h3>All Notes</h3>
<AuthorizeView>
    <Authorized>
        <table>
            <tr>
                <th>Name</th>
                <th>Content</th>
                <th>Action</th>
            </tr>
            @foreach (var userNote in UserNotes)
            {
                <tr>
                    <td>@userNote.Name</td>
                    <td>@userNote.Content</td>
                    <td>
                        <a href="@Constants.Route.UpdateNote/@userNote.Id">Update Note</a>
                        <button @onclick="() => DeleteNote(userNote.Id)">Delete Note</button>
                    </td>
                </tr>
            }
        </table>
        <a href="@Constants.Route.AddNote">Add New Note</a>
    </Authorized>
    <NotAuthorized>
        <p>You need to be logged in to view this page.</p>
    </NotAuthorized>
</AuthorizeView>

@inject WebApiHttpClient WebApiHttpClient
@inject IJSRuntime JsRuntime

@code {
    private IEnumerable<UserNoteDto> UserNotes = [];

    protected override async Task OnInitializedAsync()
    {
        var response = await WebApiHttpClient.GetAllNotesAsync();
        if (response.IsSuccessStatusCode)
        {
            UserNotes = await response.Content.ReadFromJsonAsync<IEnumerable<UserNoteDto>>() ?? [];
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error fetching notes.");
        }
    }

    private async Task DeleteNote(Guid noteId)
    {
        if (!await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this note?")) return;

        var response = await WebApiHttpClient.DeleteNoteAsync(noteId);
        if (response.IsSuccessStatusCode)
        {
            UserNotes = UserNotes.Where(n => n.Id != noteId);
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error deleting note.");
        }
    }

}