@attribute [Route(Constants.Route.ConfirmEmail)]

@switch (success)
{
    case null:
        <p>Confirming your email...</p>
        break;
    case true:
        <p>Your email has been confirmed successfully! <a href="@Constants.Route.Home">Home page</a>.</p>
        break;
    default:
        <p>There was an error confirming your email. Please try again or contact support.</p>
        break;
}


@inject IAccountManagement AccountManagement

@code {

    [SupplyParameterFromQuery] public string? Email { get; set; }

    [SupplyParameterFromQuery] public string? Code { get; set; }

    private bool? success;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Email) || string.IsNullOrEmpty(Code))
        {
            success = false;
            return;
        }

        var result = await AccountManagement.ConfirmEmailAsync(Email, Code);
        success = result.Succeeded;
    }

}