@attribute [Route(Constants.Route.ForgotPassword)]

<h1>Forgot your password?</h1>

<p>
    Enter your email address below to receive a password reset code.
</p>

@if (!passwordResetCodeSent)
{
    <EditForm Model="Input" FormName="forgot-password" OnValidSubmit="OnValidSubmitStep1Async">
        <DataAnnotationsValidator/>

        <label for="Input.Email">Email</label>
        <InputText type="email" @bind-Value="Input.Email" id="Input.Email"/>
        <ValidationMessage For="() => Input.Email"/>

        <button type="submit">Request reset code</button>
    </EditForm>
}
else
{
    if (passwordResetSuccess)
    {
        <p>Your password was reset. You may <a href="@Constants.Route.Login">login</a> to the app with your new
            password.</p>
    }
    else
    {
        <p>If your email address was found and is confirmed, a reset code has been sent to it. Enter the code along with
            your new password below to reset your password.</p>

        <EditForm Model="Reset" OnValidSubmit="OnValidSubmitStep2Async">
            <DataAnnotationsValidator/>

            <label for="Reset.ResetCode">Reset code</label>
            <InputText @bind-Value="Reset.ResetCode" id="Reset.ResetCode"/>
            <ValidationMessage For="() => Reset.ResetCode"/>

            <label for="Reset.NewPassword">New Password</label>
            <InputText type="password" @bind-Value="Reset.NewPassword" id="Reset.NewPassword"/>
            <ValidationMessage For="() => Reset.NewPassword"/>

            <label for="Reset.ConfirmPassword">Confirm Password</label>
            <InputText type="password" @bind-Value="Reset.ConfirmPassword" id="Reset.ConfirmPassword"/>
            <ValidationMessage For="() => Reset.ConfirmPassword"/>

            <button type="submit">Reset password</button>
        </EditForm>
    }
}


@using System.ComponentModel.DataAnnotations
@inject IAccountManagement AccountManagement
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@code {

    [CascadingParameter] private Task<AuthenticationState> AuthStateTask { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateTask;
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
        {
            NavigationManager.NavigateTo(Constants.Route.Home);
        }
    }

    private bool passwordResetCodeSent, passwordResetSuccess;

    private InputModel Input { get; set; } = new();

    private ResetModel Reset { get; set; } = new();

    private async Task OnValidSubmitStep1Async()
    {
        var result = await AccountManagement.ForgotPasswordAsync(Input.Email);
        passwordResetCodeSent = result.Succeeded;
        if (!passwordResetCodeSent) await JSRuntime.InvokeVoidAsync("alert", string.Join("\n", result.Errors?.Select(e => $"{e.Key}: {string.Join(", ", e.Value)}") ?? []));
    }

    private async Task OnValidSubmitStep2Async()
    {
        var result = await AccountManagement.ResetPasswordAsync(Input.Email, Reset.ResetCode,
            Reset.NewPassword);
        passwordResetSuccess = result.Succeeded;
        if (!passwordResetSuccess) await JSRuntime.InvokeVoidAsync("alert", string.Join("\n", result.Errors?.Select(e => $"{e.Key}: {string.Join(", ", e.Value)}") ?? []));
    }

    private class InputModel
    {
        [Required] [EmailAddress] public string Email { get; set; } = string.Empty;
    }

    private class ResetModel
    {
        [Required] [Base64String] public string ResetCode { get; set; } = string.Empty;

        [Required] public string NewPassword { get; set; } = string.Empty;

        [Compare("NewPassword", ErrorMessage = "The new password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = string.Empty;
    }

}