@attribute [Route(Constants.Route.ForgotPassword)]

<EditForm Model="this" FormName="forgot-password" OnValidSubmit="ForgotPasswordAsync">
    <DataAnnotationsValidator/>

    <label for="Input.Email">Email</label>
    <InputText type="email" @bind-Value="Email" id="Input.Email"/>
    <ValidationMessage For="() => Email"/>

    <button type="submit">Send reset password email</button>
</EditForm>


@using System.ComponentModel.DataAnnotations
@inject IAccountManagement AccountManagement
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@code {

    [CascadingParameter] private Task<AuthenticationState> AuthStateTask { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateTask;
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
        {
            NavigationManager.NavigateTo(Constants.Route.Home);
        }
    }

    [Required] [EmailAddress] public string Email { get; set; } = string.Empty;

    private async Task ForgotPasswordAsync()
    {
        var result = await AccountManagement.ForgotPasswordAsync(Email);

        if (!result.Succeeded)
        {
            await JSRuntime.InvokeVoidAsync("alert", string.Join("\n", result.Errors?.Select(e => $"{e.Key}: {string.Join(", ", e.Value)}") ?? []));
            return;
        }

        await JSRuntime.InvokeVoidAsync("alert", "If your email address was found and is confirmed, an email has been sent to it. Please check your email and follow the instructions to reset your password");
    }

}