@attribute [Route(Constants.Route.Login)]

<h3>Login</h3>

<EditForm Model="@this" OnValidSubmit="LoginAsync">
    <DataAnnotationsValidator/>

    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" type="email" class="form-control" @bind-Value="Email"/>
        <ValidationMessage For="@(() => Email)"/>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="Password"/>
        <ValidationMessage For="@(() => Password)"/>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

<a href="@Constants.Route.ForgotPassword">Forgot your password?</a>

<GoogleLoginButton/>

@using System.ComponentModel.DataAnnotations
@inject IAccountManagement AccountManagement
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

@code {

    [CascadingParameter] private Task<AuthenticationState> AuthStateTask { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateTask;
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true }) NavigationManager.NavigateTo(Constants.Route.Home);
    }

    [Required] [EmailAddress] public string Email { get; set; } = string.Empty;

    [Required] public string Password { get; set; } = string.Empty;

    private async Task LoginAsync()
    {
        var result = await AccountManagement.CookieLoginAsync(Email, Password);
        if (result.Succeeded) NavigationManager.NavigateTo(Constants.Route.Home);
        else await JsRuntime.InvokeVoidAsync("alert", string.Join("\n", result.Errors?.Select(e => $"{e.Key}: {string.Join(", ", e.Value)}") ?? []));
    }

}