@attribute [Route(Constants.Route.Register)]

<h3>Register</h3>

<EditForm Model="@this" OnValidSubmit="RegisterAsync">
    <DataAnnotationsValidator/>

    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" type="email" class="form-control" @bind-Value="Email"/>
        <ValidationMessage For="@(() => Email)"/>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="Password"/>
        <ValidationMessage For="@(() => Password)"/>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <InputText id="confirmPassword" type="password" class="form-control" @bind-Value="ConfirmPassword"/>
        <ValidationMessage For="@(() => ConfirmPassword)"/>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@if (RegisteredSuccessfully)
{
    <div class="alert alert-success mt-3" role="alert">
        Registration successful! You must now confirm your account by clicking the link in the email that was sent to
        you. After confirming your account, you can <a href="login">login</a> to the app.
        <button @onclick="ResendConfirmationEmailAsync">Resend confirmation email</button>
    </div>
}

@using System.ComponentModel.DataAnnotations
@inject IAccountManagement AccountManagement
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@code {

    [CascadingParameter] private Task<AuthenticationState> AuthStateTask { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateTask;
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
        {
            NavigationManager.NavigateTo(Constants.Route.Home);
        }
    }

    private bool RegisteredSuccessfully { get; set; }

    [Required] [EmailAddress] public string Email { get; set; } = string.Empty;

    [Required] public string Password { get; set; } = string.Empty;

    [Required]
    [Compare("Password", ErrorMessage = "Passwords do not match.")]
    public string ConfirmPassword { get; set; } = string.Empty;

    private async Task RegisterAsync()
    {
        var result = await AccountManagement.RegisterAsync(Email, Password);
        if (result.Succeeded)
        {
            RegisteredSuccessfully = true;
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", string.Join("\n", result.ErrorList));
        }
    }

    private async Task ResendConfirmationEmailAsync()
    {
        var result = await AccountManagement.ResendConfirmationEmailAsync(Email);
        if (result.Succeeded)
        {
            await JSRuntime.InvokeVoidAsync("alert", "If an account exists for this email and it is not confirmed, a new confirmation email has been sent.");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "Failed to resend confirmation email. Please try again later.");
        }
    }

}