@using System.ComponentModel.DataAnnotations
@attribute [Route(Constants.Route.ResetPassword)]

<EditForm Model="this" OnValidSubmit="ResetPasswordAsync">
    <DataAnnotationsValidator/>

    <label for="Reset.NewPassword">New Password</label>
    <InputText type="password" @bind-Value="NewPassword" id="Reset.NewPassword"/>
    <ValidationMessage For="() => NewPassword"/>

    <label for="Reset.ConfirmPassword">Confirm Password</label>
    <InputText type="password" @bind-Value="ConfirmPassword" id="Reset.ConfirmPassword"/>
    <ValidationMessage For="() => ConfirmPassword"/>

    <button type="submit">Reset password</button>
</EditForm>

@inject IAccountManagement AccountManagement
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@code {

    [CascadingParameter] private Task<AuthenticationState> AuthStateTask { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateTask;
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
        {
            NavigationManager.NavigateTo(Constants.Route.Home);
        }
    }

    [SupplyParameterFromQuery] public string? Email { get; set; }

    [SupplyParameterFromQuery] public string? Code { get; set; }

    [Required] public string NewPassword { get; set; } = string.Empty;

    [Compare("NewPassword", ErrorMessage = "The new password and confirmation password do not match.")]
    public string ConfirmPassword { get; set; } = string.Empty;

    private async Task ResetPasswordAsync()
    {
        if (string.IsNullOrEmpty(Email) || string.IsNullOrEmpty(Code))
        {
            await JSRuntime.InvokeVoidAsync("alert", "Invalid password reset request. Please make sure you have the correct link from your email.");
            return;
        }

        var result = await AccountManagement.ResetPasswordAsync(Email, Code, NewPassword);
        if (!result.Succeeded)
        {
            await JSRuntime.InvokeVoidAsync("alert", string.Join("\n", result.Errors?.Select(e => $"{e.Key}: {string.Join(", ", e.Value)}") ?? []));
            return;
        }

        await JSRuntime.InvokeVoidAsync("alert", "Your password has been reset successfully. You can now log in with your new password.");
        NavigationManager.NavigateTo(Constants.Route.Login);
    }

}