@inherits LayoutComponentBase

<div class="page">
    <div class="top-row px-4">
        <button @onclick="NavigateToHome">Home</button>
        <AuthorizeView>
            <Authorized>
                Logged in as @context.User.Identity?.Name.
                <button @onclick="NavigateToAllNote">All Notes</button>
                <button @onclick="LogoutAsync">Logout</button>
            </Authorized>
            <NotAuthorized>
                <button @onclick="NavigateToLogin">Login</button>
                <button @onclick="NavigateToRegister">Register</button>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    @Body
</div>

@inject IAccountManagement AccountManagement
@inject NavigationManager NavigationManager

@code
{
    private void NavigateToHome() => NavigationManager.NavigateTo(Constants.Route.Home);

    private async Task LogoutAsync() => await AccountManagement.LogoutAsync();

    private void NavigateToLogin() => NavigationManager.NavigateTo(Constants.Route.Login);

    private void NavigateToRegister() => NavigationManager.NavigateTo(Constants.Route.Register);
    
    private void NavigateToAllNote() => NavigationManager.NavigateTo(Constants.Route.AllNotes);
}