@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        Logged in as @context.User.Identity?.Name
        <button @onclick="LogoutAsync">Logout</button>
    </Authorized>
    <NotAuthorized>
        <a href="login">Login</a>
        <a href="register">Register</a>
    </NotAuthorized>
</AuthorizeView>

@using PracticeAspNetCoreIdentity.Client.Identity
@inject IAccountManagement AccountManagement
@code
{
    private async Task LogoutAsync() => await AccountManagement.LogoutAsync();
}
