@attribute [Route(Constants.Route.Home)]

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        Logged in as @context.User.Identity?.Name
        <button @onclick="LogoutAsync">Logout</button>
    </Authorized>
    <NotAuthorized>
        <a href="@Constants.Route.Login">Login</a>
        <a href="@Constants.Route.Register">Register</a>
    </NotAuthorized>
</AuthorizeView>

@using PracticeAspNetCoreIdentity.Client.Identity
@inject IAccountManagement AccountManagement
@code
{
    private async Task LogoutAsync() => await AccountManagement.LogoutAsync();
}
