@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        Logged in as @context.User.Identity?.Name 
    </Authorized>
    <NotAuthorized>
        <a href="login">Login</a>
        <a href="register">Register</a>
    </NotAuthorized>
</AuthorizeView>